<footer class="page-footer dash-orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Finish Line</h5>
                <p class="grey-text text-lighten-4">
                    Well done for making it to the end.
                </p>
                <img src="/assets/a.png" width="200" alt="">
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://primevr.io" target="_blank">PrimeVR</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/dashdashrungame" target="_blank">@DashDashRunGame</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:contact@primevr.io" target="_blank">contact@primevr.io</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017-2019 PrimeVR Inc.
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script type="module" src="/js/site.js"></script>
