<!-- NAV BAR -->
<div class="navbar-fixed pixel-font">
    <nav class="dash-orange">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-nav-menu" class="sidenav-trigger right" style="padding-top: 10px;"><i class="fas fa-bars fa-2x"></i></a>

                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li class=""><a href="{{site.url}}/#home" class=" white-text"><img src="{{site.url}}/assets/a.png" width="100" alt=""></a></li>
                    <div class="brand-logo center">
                    <li class=""><a href="{{site.url}}/#platforms" class=" white-text">PLATFORMS</a></li>
                    <li class=""><a href="{{site.url}}/#features" class=" white-text">FEATURES</a></li>
                    <li class=""><a href="{{site.url}}/#media" class=" white-text">MEDIA</a></li>
                    <li class=""><a href="{{site.url}}/#buy" class=" white-text">BUY</a></li>
                </div>
                </ul>
        </div>
    </nav>
</div>

<ul class="sidenav dash-orange" id="mobile-nav-menu" style="width: 140px !important;">
    <li class=""><a href="{{site.url}}/#home" class=" white-text">HOME</a></li>
    <li class=""><a href="{{site.url}}/#platforms" class=" white-text">PLATFORMS</a></li>
    <li class=""><a href="{{site.url}}/#features" class=" white-text">FEATURES</a></li>
    <li class=""><a href="{{site.url}}/#media" class=" white-text">MEDIA</a></li>
    <li class=""><a href="{{site.url}}/#buy" class=" white-text">BUY</a></li>
</ul>
