<!-- NAV BAR -->
<div class="navbar-fixed">
    <nav class="dash-orange">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-nav-menu" class="sidenav-trigger right" style="padding-top: 10px;"><i class="fas fa-bars fa-2x"></i></a>
            <div class="brand-logo center">

                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li class=""><a href="#approach" class=" white-text">HOME</a></li>
                    <li class=""><a href="#learn" class=" white-text">PLATFORMS</a></li>
                    <li class=""><a href="#meet" class=" white-text">FEATURES</a></li>
                    <li class=""><a href="#speak" class=" white-text">MEDIA</a></li>
                    <li class=""><a href="#speak" class=" white-text">BUY</a></li>
                    <li class=""><a href="#speak" class=" white-text">PRIMEVR</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav site-grey" id="mobile-nav-menu" style="width: 140px !important;">
    <li><a href="#approach" class=" white-text">APPROACH</a></li>
    <li><a href="#learn" class=" white-text">LEARN</a></li>
    <li><a href="#meet" class=" white-text">MEET</a></li>
    <li><a href="#speak" class=" white-text">SPEAK</a></li>
</ul>
